<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P4 SECURITY: RAPID RESPONSE SYSTEM</title>
</head>
    <body>

        <div class="login-container">

            <h2>Login</h2>

            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Matrícula" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>

        </div>

    </body>
</html>