<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=KEY-API&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
</head>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      gmp-map {
        height: 50%;
        width: 50%;
      }
      body {

            background-color: #01101f;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

      /* .mapa {
        height: 100%;
      } */
    </style>
<body>
    
    <gmp-map center="-15.867515905354344,-48.03072512123349" zoom="14" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="-15.867515905354344,-48.03072512123349" title="My location"></gmp-advanced-marker>
    </gmp-map>
    
    
</body>
</html>

